certifi==2020.12.5
chardet==4.0.0
colored==1.4.2
decorator==4.4.2
Gooey==1.0.8
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
moviepy==1.0.3
numpy==1.20.3
opencv-python==4.5.2.52
Pillow==8.2.0
proglog==0.1.9
psutil==5.8.0
pygtrie==2.4.2
pythonw==3.0.3
requests==2.25.1
scipy==1.6.3
six==1.16.0
sk-video==1.1.10
torch==1.8.1
tqdm==4.60.0
typing-extensions==3.10.0.0
urllib3==1.26.4
wxPython==4.1.0
